/*

stylesheet.css
for fizz-buzz.html

By Cory Spitzer
May, 2014

MIT Licence

*/

html {
   background-color: ghostwhite;;
}

head {

}

body {
   padding: 2%;
   margin: 3px;
   background-color: lightgray;
}

#FBcontainer {
   font-size: small;
}

ul {
    list-style-type: none;
}

